[Unit]
Description=Monitor test process
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/bin/monitor_test.sh
Restart=always
User=root

[Install]
WantedBy=multi-user.target
